.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 2rem 0;
  height: 80vh;
}

.header-left {
  flex: 1;
  min-width: 280px;
  max-width: 600px;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.header-name {
  font-family: var(--font);
  font-size: 4.5rem;
  font-weight: 900;
  letter-spacing: 4px;
  margin-bottom: 1rem;
}

.header-subtitle {
  font-size: 1.5rem;
  color: var(--accent);
}

.header-about {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text);
}

.header-socials {
  display: block;
  margin-top: 1rem;
}

.header-socials a {
  margin: 20px 10px 10px 0;
  font-size: 1.5rem;
  color: var(--text);
  transition: color 0.3s ease;
}

.header-socials a:hover {
  color: var(--accent);
}

.download-btn-wrapper {
  position: relative;
  margin-top: 1rem;
}

.download-btn {
  width: 120px;
  height: 25px;
  padding: 1rem;
  background: none;
  border: 2px solid var(--accent);
  color: var(--accent);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  position: relative;
  text-decoration: none;
}

.download-btn:hover {
  background-color: var(--accent);
  color: var(--bg);
}

.download-btn::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -2.2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text);
  color: var(--bg);
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 10;
}

.download-btn:hover::after {
  opacity: 1;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.header-image {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  object-fit: cover;
}

@media (max-width: 769px) {
  .header {
    flex-direction: column-reverse;
    text-align: center;
  }

  .header-left {
    align-items: center;
    text-align: center;
  }

  .header-image {
    width: 100%;
    max-width: 200px;
    border-radius: 12px;
    object-fit: cover;
  }

  .header-socials {
    justify-content: center;
  }

  .download-btn::after {
    top: auto;
    bottom: -2rem;
  }
}
